@import './variables.scss';

/*
    text-transform
    text-decoration
    outline
    border
    эдгээр property-ийг судлаарай
*/

.btn {
    border-radius: 100px;
    text-transform: uppercase;
    text-decoration: none;
}

.disabled {
}

.input {
    border-radius: 100px;
}
