// @import './variables.scss';
@import './components.scss';
@import './flex.scss';
@import './typograph.scss';

@function pow($base, $exp) {
    $res: 1;
    @for $i from 1 through $exp {
        $res: $res * $base;
    }
    @return $res;
}

@each $name, $color in $colors {
    .c-#{$name} {
        color: $color;
    }

    .b-#{$name} {
        background-color: $color;
    }

    @for $i from 1 through 10 {
        .br-#{$name}-#{$i} {
            border: solid $color $i + px;
        }
    }
}



@for $i from 1 through 1000 {
    .h-#{$i} {
        height: $i + px;
    }
    .w-#{$i} {
        width: $i + px;
    }
    .pa-#{$i} {
        padding: pow(2, $i) + px;
    }
    .ph-#{$i} {
        padding-left: $i + px;
        padding-right: $i + px;
    }
    .ma-#{$i} {
        margin: $i + px;
    }
    .mt-#{$i} {
        margin-top: $i + px;
    }
    .ml-#{$i} {
        margin-left: $i + px;
    }
    .mr-#{$i} {
        margin-right: $i + px;
    }
    .mb-#{$i} {
        margin-bottom: $i + px ;
    }
}

.no-outline {
    outline: none;
}

body {
    margin: 0;
}

.w100 {
    width: 100%;
}

.h100 {
    height: 100%;
}

.pointer {
    cursor: pointer;
}

// ЭНЭ CSS ЯМАР УЧИРТАЙГ САЙН СУДЛАХ
* {
    box-sizing: border-box;
}